* {
    margin: 0;
}

body {
    font-family: 'Amaranth', cursive;
    font-family: 'Amaranth', sans-serif;
}

:root {
    --d-green: #093824;
    --l-green: #6C9A8B;
}

.banner {
    background-color: var(--d-green);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo-container {
    width: 21%;
}

.logo {
    color: whitesmoke;
    margin-left: 3%;
}

nav {
    height: 30px;
}

.nav-container {
    background-color: var(--l-green);
    display: flex;
    justify-content: center;
    height: 100%;
}

.nav-item {
    color: whitesmoke;
    margin-right: 2%;
    display: flex;
    align-items: center;
    font-size: large;
}

.nav-item:hover {
    color: var(--d-green);
    cursor: pointer;
}

.auth-container {
    display: flex;
    width: 10%;
}

.auth-item {
    color: whitesmoke;
    margin-right: 8%;
}

.auth-item a {
    color: whitesmoke;
    text-decoration: none;
    font-size: large;
}

.auth-item a:hover {
    color: var(--l-green);
}

.wrapper {
    padding: 2%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content {
    border: 1px solid var(--d-green);
    width: 45%;
}

.content-head {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.title {
    padding: 5%;
    font-size: x-large;
}

.date {
    padding: 1%;
    margin-right: 10%;
    font-size: larger;
}

.inner-content {
    padding: 5%;
}

img {
    height: 75px;
}

.img-container {
    margin-right: 20%;
}